@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 60px;
}

header a {

    text-decoration: none;
    margin-right: 15px;
    font-size: 18px;
    color: #3766E8;
    border: 1px solid #3766E8;
    padding: 7px;
    border-radius: 5px;


}
header a:hover
{
    background-color: #3766E8;
    color: white;
}
 .row
 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 50%;
    margin: auto;
 }
 .col-1
 {
     
    text-align: center;
    width: 460px;
    height: 611px;
    background-color: #FFFFFF;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
 }
 .col-2
 {
    
    text-align: center;
    width: 460px;
    height: 611px;
    background-color: #FFFFFF;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #3766E8;
    color: #FFFFFF;
 }

 .card-element
 {
    display:flex;
     align-items: center;
     gap: 5px;
 }
 .card-body
 {
     margin: 0px 70px;
 }
 #btn {
    width: 350px;
    height: 47px;
    text-align: center;
    background-color:white;
    border-radius: 35px;
    border: none;
    color:#3766E8;
    font-weight:bold;
    font-size:18px;
}
 .btn {
    width: 350px;
    height: 47px;
    text-align: center;
    background-color: #3766E8;
    border-radius: 35px;
    border: none;
    color: #FFFFFF;
    font-weight:bold;
    font-size:18px;
}
