@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
     overflow-y: scroll;
     overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
   
   
}
.header-route
{   position: relative;
    border: 1px solid red;
    padding: 7px;
    background-color: #FFFFFF !important;
    
}
header a {
    
    text-decoration: none;
    margin-right: 45px;
    font-size: 18px;
    color: #3766E8;
    cursor: pointer;
    border:1px solid  #3766E8;
    padding: 7px;
    border-radius: 10px;
    

}
header a:hover
{
  background-color: #3766E8;
  color: #F0F0F0;
}

.card {
    width: 560px;
    height: 611px;
    background-color: #FFFFFF;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;

}

.card-header {
    text-align: center;
    padding-top: 40px;
}

.card-header h3 {
    font-weight: 500;
    font-size: 26px;
    color: #212121;
}

.card-header p {
    font-weight: 400;
    font-size: 14px;
    color: #545454;
}

.form-body {

    padding: 0px 90px 40px 90px;
}

.form-child {
    margin-bottom: 29px;
}

.input-label {
    font-weight: 500;
    font-size: 14px;
}

.company-label {
    font-weight: 500;
    font-size: 14px;
}

.input-field {
    width: 368px;
    height: 37px;
    padding: 5px 10px;
    margin-top: 8px;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #A0A0A0;

}

#input-field {
    width: 389px;
    height: 47px;
    padding: 5px;
    margin-top: 8px;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #A0A0A0;

}

.size-field {
    margin-top: 8px;
}

.size-value {
    background-color: #F0F0F0;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    margin-right: 13px;
    text-align: center;
    color: #545454;
    font-weight: 500;
    font-size: 14px;
}

#size-value {
    background-color: #3766E8;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    margin-right: 13px;
    text-align: center;

}

.btn {
    width: 389px;
    height: 47px;
    padding: 10px 40px;
    text-align: center;
    background-color: #3766E8;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.rectangle-border {
    position: absolute;
    top: 260px;
    left: -127px;
    width: 1770px;
    height: 392px;
    background-color: #F0F0F0;
    opacity: 0.45;
    transform: rotate(-30deg);

}

.side-border-1 {
    position: absolute;
    width: 769px;
    height: 14px;
    left: -70px;
    top: 470px;
    background: #3766E8;
    opacity: 0.2;
    transform: rotate(-30deg);

}

.side-border-2 {
    position: absolute;
    width: 769px;
    height: 14px;
    left: 900px;
    top: 380px;
    background: #3766E8;
    opacity: 0.2;
    transform: rotate(-30deg);

}

.container-1 {
    border: 1px solid red;
    padding-bottom:80px;
}
.container-2 p{
     text-align: center;
     font-size:14px;
     font-weight:400;
     color: #545454;
}