@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 0px 60px;
}

header a {
    text-decoration: none;
    margin-right: 45px;
    font-size: 18px;
    color: #3766E8;

}

.card {
    width: 560px;
    height: 611px;
    background: #FFFFFF;
    margin: 0px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;

}

.card-header {
    text-align: center;
    padding-top: 40px;
}

.card-header h3 {
    font-weight: 500;
    font-size: 26px;
    color: #212121;
}

.card-header p {
    font-weight: 400;
    font-size: 14px;
    color: #545454;
}

.form-body {

    padding: 0px 90px 40px 90px;
}

.form-child {
    margin-bottom: 29px;
}

.input-label {
    font-weight: 500;
    font-size: 14px;
}

.company-label {
    font-weight: 500;
    font-size: 14px;
}

.input-field {
    width: 368px;
    height: 37px;
    margin-top: 8px;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    color: #A0A0A0;

}

.size-field {
    margin-top: 8px;
}

.size-value {
    background-color: #F0F0F0;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    margin-right: 13px;
    text-align: center;
    color: #545454;
    font-weight: 500;
    font-size: 14px;
}

#size-value {
    background-color: #3766E8;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 0px 8px 0px 8px;
    margin-right: 13px;
    text-align: center;

}

.btn {
    width: 368px;
    height: 36px;
    padding: 10px 40px;
    text-align: center;
    background-color: #3766E8;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.bold-line-1 {

    border-radius: 100px;
    background-color: #3766E8;
    margin-top: 30px;
    width: 11px;
    height: 27px;
    transform: rotate(-30deg);
}

.bold-line-2 {

    border-radius: 100px;
    background-color: #3766E8;
    width: 11px;
    height: 42px;
    transform: rotate(-30deg);
}

.bold-line-3 {

    border-radius: 100px;
    background-color: #3766E8;
    margin-bottom: 30px;
    width: 11px;
    height: 21px;
    transform: rotate(-30deg);
}

.rectangle-border {
    position: absolute;
    top: 260px;
    left: -127px;
    width: 1770px;
    height: 392px;
    background: #F0F0F0;
    opacity: 0.45;
    transform: rotate(-30deg);

}

.side-border {
    position: absolute;
    width:769.01px;
    height: 13.44px;
    left: 792px;
    top: 636.51px;
    background: #3766E8;
    opacity: 0.2;
    transform: rotate(-30deg);

}